*{
    font-family: Roboto;
    background-color: #fafafa;
}

.note1{
    margin: 10px;
    width: 400px;
    height: 650px;
    border: 3px solid #6162AD;
    border-radius: 7px;
}
.note2{
    margin: 10px;
    width: 400px;
    height: 650px;
    border: 3px solid #6162AD;
    border-radius: 7px;
}
.note3{
    margin: 10px;
    width: 400px;
    height: 650px;
    border: 3px solid #6162AD;
    border-radius: 7px;
 }
.note4{
    margin: 10px;
    width: 400px;
    height: 650px;
    border: 3px solid #6162AD;
    border-radius: 7px;
}

.row {
    display: flex;
    justify-content: center;
}

.conc{
    margin: 10px;
    padding: 10px;
    border: 3px solid rgb(140, 140, 245);
}

.all-form-cards {
    width: 320px;
    height: 225px;
    margin: 10px;
    padding: 10px;
    border: 3px solid rgb(140, 140, 245);
    border-radius: 7px;
}

.from-cards{
    display: flex;
    justify-content: center;
}

form{
    width: 300px;
    height: 220px;
    display: flex;
    flex-direction: column;
}

textarea{
    height: 100px;
    resize: none;
}

.forma{
    display: flex;
    justify-content: center;
}
.center{
    display: flex;
    justify-content: center;
}